.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;


    &__icon{
        width: 48.15px;
        height: 48px;
        background-color:var(--color-background) ;
    }

}

