.text{
    text-align: center;
    font-size: 14px;
    color: var(--color-text);
    &--bold{
        font-weight: 900;
    }

    &--dark{
        color: var(--color-background);
        font-size: 40px;
        font-weight: 900;
        &--bold{
            opacity: .5;
            font-size: 12px;

        }
    }
}